<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página EJS</title>
</head>
<body>
  <h1>Renderizando HTML com EJS</h1>
  <p>1 + 1 = <%= 1+1 %></p>
  <p>Seu nome é <%= name %></p>
  <p>Seu e-mail é <%= email %></p>
  <% console.log("Teste") %>
</body>
</html>